.full{
    background-color:purple;
    height:100cqmax;

}
.body
{
    background-color:pink;
    height: 10cqmax;
    width:10cqmax;
    align-items: center;


}
.main
{
    text-align: center;
}


